{layout none}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="cs" class="no-js">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>TopPorn | Admin Login</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <link href="{$basePath}/assets/admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="{$basePath}/assets/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="{$basePath}/assets/admin/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link rel="stylesheet" type="text/css" href="{$basePath}/assets/admin/plugins/select2/select2.css"/>
        <link rel="stylesheet" type="text/css" href="{$basePath}/assets/admin/plugins/select2/select2-metronic.css"/>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME STYLES -->
        <link href="{$basePath}/assets/admin/css/style-metronic.css" rel="stylesheet" type="text/css"/>
        <link href="{$basePath}/assets/admin/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="{$basePath}/assets/admin/css/style-responsive.css" rel="stylesheet" type="text/css"/>
        <link href="{$basePath}/assets/admin/css/plugins.css" rel="stylesheet" type="text/css"/>
        <link href="{$basePath}/assets/admin/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="{$basePath}/assets/admin/css/pages/login.css" rel="stylesheet" type="text/css"/>
        <link href="{$basePath}/assets/admin/css/custom.css" rel="stylesheet" type="text/css"/>
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico"/>
    </head>
    <!-- BEGIN BODY -->
    <body class="login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="index.html">
                <img src="{$basePath}/assets/admin/img/logo-big.png" alt=""/>
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            {form signInForm}
                <h3 class="form-title">Login to your account</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span>
                        Enter any username and password.
                    </span>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    {label username, class=>'control-label visible-ie8 visible-ie9' /}
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        {input username, class=>'form-control placeholder-no-fix'}
                    </div>
                </div>
                <div class="form-group">
                    {label password, class=>'control-label visible-ie8 visible-ie9' /}
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        {input password, class=>'form-control placeholder-no-fix'}
                    </div>
                </div>
                <div class="form-actions">
                    <label n:name="remember" class="checkbox">
                        <input type="checkbox" n:name="remember" value="1"/> Zapamatovat si mě</label>
                    <button n:name="send" type="submit" class="btn green pull-right">
                        Login <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                </div>
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="font-family:arial">&times;</button>
                    {$flash->message}
                </div>
                <div class="login-options">
                    <h4>Or login with</h4>
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" data-original-title="facebook" href="#">
                            </a>
                        </li>
                        <li>
                            <a class="twitter" data-original-title="Twitter" href="#">
                            </a>
                        </li>
                        <li>
                            <a class="googleplus" data-original-title="Goole Plus" href="#">
                            </a>
                        </li>
                        <li>
                            <a class="linkedin" data-original-title="Linkedin" href="#">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="forget-password">
                    <h4>Forgot your password ?</h4>
                    <p>
                        no worries, click
                        <a href="javascript:;" id="forget-password">
                            here
                        </a>
                        to reset your password.
                    </p>
                </div>
            {/form}
            <!-- END LOGIN FORM -->
            <!-- BEGIN FORGOT PASSWORD FORM -->
            <form class="forget-form" action="index.html" method="post">
                <h3>Forget Password ?</h3>
                <p>
                    Enter your e-mail address below to reset your password.
                </p>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn">
                        <i class="m-icon-swapleft"></i> Back </button>
                    <button type="submit" class="btn green pull-right">
                        Submit <i class="m-icon-swapright m-icon-white"> </i>
                    </button>
                </div>
            </form>
        </div>
        <!-- END LOGIN -->
        <!-- BEGIN COPYRIGHT -->
        <div class="copyright">
            2014 &copy; Metronic. Admin Dashboard Template.
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
                <script src="{$basePath}/assets/admin/plugins/respond.min.js"></script>
                <script src="{$basePath}/assets/admin/plugins/excanvas.min.js"></script> 
                <![endif]-->
        <script src="{$basePath}/assets/admin/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="{$basePath}/assets/admin/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
        <script src="{$basePath}/assets/admin/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{$basePath}/assets/admin/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="{$basePath}/assets/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{$basePath}/assets/admin/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="{$basePath}/assets/admin/plugins/jquery.cokie.min.js" type="text/javascript"></script>
        <script src="{$basePath}/assets/admin/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{$basePath}/assets/admin/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="{$basePath}/assets/admin/plugins/select2/select2.min.js"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{$basePath}/assets/admin/scripts/core/app.js" type="text/javascript"></script>
        <script src="{$basePath}/assets/admin/scripts/custom/login.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script>
            jQuery(document).ready(function () {
                App.init();
                Login.init();
            });
        </script>
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>